{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    <h3>Key</h3>
    <p style="margin:10px 0;">For the key title user lowercase letter. In case it requires more than one word to be described, use underscore (_).</p>
    <h3>Data</h3>
    <div style="margin:10px 0;">
        <p>Data is used only when <em>Type is Multiple Choise</em>. Define all possible choices by a comma separated list without spaces.</p>
        <p>For example: <strong>student,alumni,mentor,professor</strong></p>
        <p>This data will be saved and showed afterwords as a JSON object. Don't try to simulate JSON and write something like ["a", "b"], this trick won't work.</p>
    </div>
    <h3>Multiple</h3>
    <p style="margin:10px 0;"><span style='color:red;'>Always</span> check Multiple field if the Meta Type is Multiple (Type: Multiple Choice).</p>
{% endblock %}