.container-article
  article
    margin:20px 0 20px 0
    padding:18px;
    border:1px solid #e1e1e1;
    background:#fff url(../images/bg_article_top.gif) 0 0 repeat-x;
    .title
      margin:0;
      padding:8px 0 15px;
      color:#1c9dd6;
      font-weight:400;
      font-size:24px;
    .image
      margin 10px 0 20px
      &.image-full-width img
        width 100%
        height auto
    p
      //
