.article
  .title
    margin 0
    padding 8px 0 15px
    color #1c9dd6
    font-weight 400
    font-size 24px
  .image
    margin 10px 0 20px
    &.image-full-width img
      width 100%
      height auto
  p
    //
