.article
  // header
  .title, .subtitle
    margin 0
    padding 0.3em 0 0.8em
    color #1c9dd6
    font-weight 400
  .title
    font-size 24px
  .subtitle
    font-size 20px

  // content
  .image
    margin 10px 0 20px
    &.image-full-width img
      width 100%
      height auto
  p
    //
