#footer-placeholder
  height 44px

#footer
  width 100%
  min-height 43px
  margin-top -44px
  overflow hidden
  border-top 1px solid #2b2b2b
  background #1e1e1e
  font-size 11px
  color #5A5A5A
  line-height 41px
  a
    color @color
    text-decoration none
    &:hover
      color @color
      text-decoration underline

@media (max-width: 768px)
  #footer
    text-align center
    .text-right
      text-align center
