#header
  // height 170px
  background url(../images/dark_mosaic.png) 0 0 repeat
  position relative

  // Logo
  .row-logo
    height 128px
    .logo
      display block
      float left
      width 358px
      height 84px
      margin 23px 0 0
      background url(../images/faf_logo.png) 0 0 no-repeat

  // Ribbon
  .ribbon
    position absolute
    top 0
    right 0
    size 107px 107px
    overflow hidden
    a
      display block
      size 200px 28px
      margin 37px 0 0 -22px
      transform rotate(45deg)
      box-shadow 0 0 15px 0.4px #555
      &:hover
        box-shadow 0 0 20px 1px #777
    img
      width auto
      height 100%

  // Navbar
  .wrap-navbar
    min-height 42px
    background url(../images/bg_head_bottom.gif) 0 0 repeat-x
  .navbar
    margin 0
    border-width 0
    .container-fluid
      padding-left 0
      padding-right 0
  .navbar-collapse
    padding 0
  .nav
    &.navbar-nav
      margin-left -15px
      li > a
        font-size 13px
    .fb
      display inline-block
      padding-right 32px
      margin-right 15px
      background url(../images/facebook.png) 100% 50% no-repeat
