/*************************
	Utilities
**************************/

.clearfix, .row, .container
	clearfix()

.container
	width $width
	margin 0 auto

.pull-left
	float left

.pull-right
	float right

a
	text-decoration underline
	&:hover
		text-decoration none

.no-overflow
	overflow hidden
