/*************************
	Variables

	NOTE: Look here for full font stack http://cssfontstack.com/
**************************/

// Colors
$white = #fff
$black = #000

// Font sizes
$fontSizeSmall = 12px
$fontSizeBase = 14px
$fontSizeHeading = 18px
$fontSizeHuge = 24px

// Font families
$fontFamily = "Open Sans", Tahoma, Verdana, Segoe, sans-serif

// Sizes
$footerHeight = 100px

/*************************
  Override bootstrap definitions
**************************/

$baseFontSize =     $fontSizeBase
$baseFontFamily =   $fontFamily
$baseLineHeight =   20px
