/*************************
	Variables

	NOTE: Look here for full font stack http://cssfontstack.com/
**************************/

// Colors
$white = #fff
$black = #000

// Font sizes
$fontSizeSmall = 11px
$fontSizeBase = 12px
$fontSizeHeading = 25px
// $fontSizeHuge = 25px

// Font families
$fontFamily = "Open Sans", Tahoma, Verdana, Segoe, sans-serif

// Sizes
$footerHeight = 100px

/*************************
  Override bootstrap definitions
**************************/

// Accent colors
// -------------------------
$blue =                  #1691BA

// Links
// -------------------------
$linkColor =             $blue
$linkColorHover =        darken($linkColor, 15%)

// Typography
// -------------------------

$baseFontSize =     $fontSizeBase
$baseFontFamily =   $fontFamily
// $baseLineHeight =   20px
