{% extends "admin/change_form.html" %}
{% load academics_tags %}

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
        .close-btn{position:absolute;right:4px;top:6px;cursor:pointer;color:#BF3030;font-size:15px;}
        .add-meta p{cursor:pointer;margin:2px 0;}
        .all-meta{display:none;}
    </style>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
    // TODO review the code and optimize it
    $(function() {

        // remove a field from Meta and add it's meta key to the Add Meta section
        $('.meta-container').on('click', '.close-btn', function() {
            var meta_key = $(this).siblings('.c-1').children().text();
            $('<p></p>').text(meta_key).appendTo('.add-meta');
            $(this).closest('.grp-row').hide();
        });

        // find the clicked metas and add them to the meta fieldset
        $('.add-meta').on('click', 'p', function() {
            meta_key = $(this).text();
            $(this).hide();
            $('.meta-container').find('.c-1 label').each( function() {
                if ( $(this).text() == meta_key ) {
                    $(this).closest('.grp-row').show() 
                }
            });
        });

    });

    </script>
{% endblock %}

{% block field_sets %}
    {{ block.super }}
    <!-- Field set for Meta -->
    <h1>Meta</h1>

    <fieldset class="grp-module meta-container">
    {% for key, meta in adminform.form.getAdditionalFieldsets.items %}
        {% if meta.value != '' %}
        <div class="grp-row grp-cells-1 {{ key }}">
            <div class="l-2c-fluid l-d-4">
                <div class="c-1">
                    <label for="{{ key }}">{{ key|normalize }}</label>
                </div>
                <div class="c-2">
                    {% if meta.type == 'choice' %} 
                        <ul>
                            {% for data in meta.data %}
                                <li>
                                    <label for="{{ data }}">
                                        {% if data in meta.value %}
                                            <input type="checkbox" checked="checked" name="{{ key }}" value="{{ data }}" id="{{ data }}"> {{ data|normalize }}
                                        {% else %}
                                            <input type="checkbox" name="{{ key }}" value="{{ data }}" id="{{ data }}"> {{ data|normalize }}
                                        {% endif %}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% comment %}
                    {% elif meta.type == 'textarea' %}
                        <textarea cols="20" id="{{ key }}" type="text">{{ meta.value }}</textarea>
                    {% endcomment %}
                    {% else %}
                        <input name="{{ key }}" value="{{ meta.value }}" class="vTextField" type="text" id="{{ key }}">
                    {% endif %}
                </div> <span class="close-btn">X</span>
            </div>
        </div>
        {% else %}
        <div class="grp-row grp-cells-1 {{ key }}" style='display:none;'>
            <div class="l-2c-fluid l-d-4">
                <div class="c-1">
                    <label for="{{ key }}">{{ key|normalize }}</label>
                </div>
                <div class="c-2">
                    {% if meta.type == 'choice' %} 
                        <ul>
                            {% for data in meta.data %}
                                <li>
                                    <label for="{{ data }}">
                                        {% if data in meta.value %}
                                            <input type="checkbox" checked="checked" name="{{ key }}" value="{{ data }}" id="{{ data }}"> {{ data|normalize }}
                                        {% else %}
                                            <input type="checkbox" name="{{ key }}" value="{{ data }}" id="{{ data }}"> {{ data|normalize }}
                                        {% endif %}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% comment %}
                    {% elif meta.type == 'textarea' %}
                        <textarea cols="20" id="{{ key }}" type="text">{{ meta.value }}</textarea>
                    {% endcomment %}
                    {% else %}
                        <input name="{{ key }}" value="{{ meta.value }}" class="vTextField" type="text" id="{{ key }}">
                    {% endif %}
                </div> <span class="close-btn">X</span>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </fieldset>

    <h1>Add Meta</h1>
    <fieldset class='add-meta'>
        {% for key, meta in adminform.form.getAdditionalFieldsets.items %}
            {% if meta.value == '' %}
                <p>{{ key|normalize }}</p>
                {% endif %}
        {% endfor %}
    </fieldset>

    <!-- <div class='all-meta'>
        {% for key, meta in adminform.form.getAdditionalFieldsets.items %}
            <p>{{ key|normalize }}</p>
            <p>{{ key }}</p>
            <p>{{ meta.type }}</p>
            <p>{{ meta.data }}</p>
        {% endfor %}
    </div>  -->
{% endblock %}