/*************************
  Available on all pages
**************************/

html, body
  height 100%

body
  background #eee
  position relative

.wrapper
  min-height 100%

header
  height 170px
  background url(../images/dark_mosaic.png) 0 0 repeat
  position relative
  overflow hidden

#footer-placeholder
  height 44px

footer
  height 43px
  width 100%
  border-top 1px solid #2b2b2b
  background #1e1e1e
  font-size $fontSizeSmall
  color $grayLight
  overflow hidden
  margin-top -44px
  line-height 41px
  a
    color @color
    text-decoration none
    &:hover
      color @color
      text-decoration underline
