@import "../components/bootstrap/dist/css/bootstrap.css"

// System imports
@import "nib"

/*************************
  Available on all pages
**************************/

html, body
  height 100%

body
  background #eee
  position relative

.wrapper
  min-height 100%

.overflow-hidden
  overflow hidden

.boxed
  margin 20px 0
  padding 18px
  border 1px solid #e1e1e1
  background #fff url(../images/bg_article_top.gif) 0 0 repeat-x

.wired
  margin 20px 0
  padding 18px
  border 1px solid transparent

// Elements
@import "includes/_header"
@import "includes/_footer"
@import "includes/_article"
@import "includes/_sidenav"
@import "includes/_message"

// Pages
@import "includes/_hero"
@import "includes/_address"
@import "includes/_courses"
