{% extends "index.html" %}

{% block title%}
<title>FAF - {{ course.subject_en }}</title>
{% endblock%}

{% block header %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
{% endblock %}
{% block content %}
<div id="side_menu">
	<ul class="side_nav">
		{% for sem_courses in courses %}
			{% with semester=sem_courses.0.semester %}
				<li class='title'>{{ semester }}</li>
				<ul class='subtitel'>
					{% for course in sem_courses %}
					<li><a href='{{ course.title }}/'>{{ course.subject_en }}</a></li>
					{% endfor %}
				</ul>
			{% endwith %}
		{% endfor %}
	</ul>
</div>
<section id="course_description">
	<article>
		<div class="article_body">
			<h3 class="compressed">{{ course.subject_en }}</h3>
			<h4>{{ course.subject_ro }}</h4>	
			<div class="article_content">
				<dl>
					<dt>Professors</dt>
						{% for professor in course.professors.all %}
						<dd><a href="#">{{ professor.name }} {{ professor.surname }}</a></dd>
						{% empty %}
						<dd>Oops, seems that there are no professors assigned to this course.</dd>
						{% endfor %}
						<hr>
					<dt>Language</dt>
						{% if course.language == 'RO' %}
						<dd>Romanian</dd>
						{% else %}
						<dd>English</dd>
						{% endif %}
						<hr>
					<dt>Laboratory Works</dt>
						{% if course.labs == 'True' %}
						<dd>Yes, plenty of those.</dd>
						{% else %}
						<dd>Nope, not for this course.</dd>
						{% endif %}
						<hr>
					<dt>Course Project</dt>
						{% if course.courseProject == 'True' %}
						<dd>Yep, definitely there is one.</dd>
						{% else %}
						<dd>Nope, not for this course.</dd>
						{% endif %}
						<hr>
					<dt>List of literature</dt>
						<dd>{{ course.literature|safe  }}</dd>
						<hr>
					<dt>Description</dt>
						<dd>{{ course.description|safe }}</dd>
				</dl>
			</div>
		</div>
	</article>
</section>
{% endblock %}