{% extends "index.html" %}

{% block title%}
<title>FAF - About</title>
{% endblock%}

{% block content %}
<section id="articles">
	<article id="article_x">
		<div class="article_body">
			<h3>About FAF</h3>
			<div class="article_content">
				<div class="image left"><img src="{{ STATIC_URL }}images/faf101.jpg" alt="" width="" height=""/></div>
				<div class="clr"></div>
				<p>FAF - Filiera Anglofonă "Computer Science" is a department founded as an experiment in 2001 at the Computers, Informatics and Microelectronics Faculty in the Technical University of Moldova. Basically it represents an English taught Honor's Program in Computer Science. At the moment there are 4 groups of FAF totally counting around 100 students.</p>
				<p>The courses are taught both in English and in Romanian, with the natural priority given to English. The FAF students have acces to a small library in cab. 213A, where they can find Computer Science related books, Wi-Fi and desks where they can work.</p>
				<p>The department staff consists of highly qualified professons from Moldova and UK.</p>
			</div>
		</div>
	</article>
</section>
{% endblock %}