{% extends "index.html" %}

{% block header %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>

{% endblock %}
{% block content %}
<section id="articles" class="left" style="width:610px; height: 220px; position: relative; overflow: hidden;">
	<article class="slide">
		<div class="article_body" style="position: relative; height: 185px;">
			<h3>Admission steps</h3>	
			<div class="article_content active" data-nr="1" style="position: absolute;">
				<p>
					In order to apply to FAF, firstly you need to apply to any chair at the Faculty of Computers, Informatics and Microelectronics of the Technical University of Moldova. The application procedure and all necessary documents can be found on the official website of TUM.
				</p>
				<p>
					During your first week at the university write an application to the dean of the faculty, where you state your desire to participate in the admission contest to the Anglophone Department of Computer Science. Normally you will meet students from FAF in the university hall. You can ask them about the admission details and FAF life. If unfortunately nobody is at the spot you can check 213A room and get some help from the students over there.
				</p>
				<p>
					Next step is the exams. Don't panic! Exams aren't that complicated. Every year the tasks and their complexity differs, but more often at English you are asked to write some sentences, corect the mistakes or put the verbes in the right form. The complexity of Math exam doesn't exceed the complexity of the one you had at BAC.  
					Don't be affraid to chanllenge yourself. If you are not accepted, you lose nothing, but if you do then must be proud of yourself.
				</p>
				<p>
					After the exams, check the lists on the second floor and find out if you are in. Eventually you need to write one more application, but we will take care about it for sure. 
					<p>Welcome to FAF!</p>
				</p>
			</div>
		</div>
		<div class="nav_buttons">
			<div class="button this" data-nr="1">1</div>
			<div class="button" data-nr="2">2</div>
			<div class="button" data-nr="3">3</div>
			<div class="button" data-nr="4">4</div>
			<!-- <img src="../../static/images/circle_btn_1.png" data-nr="1" alt="">
			<img src="../../static/images/circle_btn_2.png" data-nr="2" alt="">
			<img src="../../static/images/circle_btn_3.png" data-nr="3" alt="">
			<img src="../../static/images/circle_btn_4.png" data-nr="4" alt=""> -->
		</div>
	</article>
</section>
	<section id="articles" class="right" style=" width: 260px;" class="right_section">
		<article id="article_x">
			<div class="article_body">
				<h3><a href="#">Why FAF?</a></h3>
				<div class="article_content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</article>
	</section>

<script type="text/javascript">
	$(document).ready(function(){
		slideshow = {
			init: function(){
				var $article = $('article.slide');
				var $nav = $('article.slide .nav_buttons');
				$nav.children('.button').click(function(){
					var nr = $(this).attr('data-nr');
					var pos = -(nr-1)*620;
					$article.find('.article_content').animate({left: pos+'px'}, 1200);
					$(this).addClass('this').siblings().removeClass('this');
				});
			}
		};
		slideshow.init();
	});
</script>
{% endblock %}