{% extends "index.html" %}

{% block title%}
<title>FAF - Contact Us</title>
{% endblock%}

{% block content %}
<div class="contact">
	{% if response %}
		<p class='response'>{{ response|safe }}</p>
	{% else %}
		<p>If you have any questions or proposals don't hesitate to get in touch with us.</p>
	{% endif %}

	<form action="/contact-us/" method="POST">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit">
	</form>

	<section id="articles" class="right">
		<iframe style="float: right; margin-left: 10px;" width="220" height="220" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=47.062152,28.868154&amp;daddr=Strada+Studen%C5%A3ilor,+Chi%C5%9Fin%C4%83u,+Moldova&amp;hl=ro&amp;geocode=%3BCa7wcV0v40lZFaQUzgIdm2q4ASm5ikdLHn3JQDEfWyyVr2k_sg&amp;sll=47.062006,28.8689&amp;sspn=0.002295,0.004823&amp;mra=mift&amp;mrsp=0&amp;sz=18&amp;ie=UTF8&amp;t=m&amp;ll=47.062003,28.868905&amp;spn=0.0019,0.002779&amp;z=17&amp;output=embed"></iframe>
	</iframe>
	<article>
		<dl>
			<dt>Address</dt>
			<dd>Off. No. 213A, 7, Studentilor St., Block of Study No. 3, Chisinau, Moldova</dd>
			<dt>Contact Person</dt>
			<dd>Viorel Bostan</dd>
			<dt>Phone</dt>
			<dd>(+373 22) 509-938</dd>
		</dl>
	</article>
	</section>
</div>

{% endblock %}
