{% extends "index.html" %}
{% block content %}
<div class="contact">
	<p>If you have any questions or proposals don't hesitate to contact us.</p>
	{% if response %}
		<p class='response'>{{ response|safe }}</p>
	{% endif %}

	<form action="/contact-us/submit/" method="POST">
		{% csrf_token %}
		<label for="name" type="text" name="name">Your name: </label>
		<input name="name" id="name">

		<label for="email" type="text" name="email">Your email: </label>
 		<input name="email" id="email">

		<label for="message" name="message">Message: </label>
		<textarea name="message" id="message" cols="30" rows="7"></textarea>

		<input type="submit" value="Submit">

	</form>
</div>

{% endblock %}
