{% extends "index.html" %}
{% block content %}
<div class="courses">
	<div class="blank_block"><h2>Courses sorted by semesters</h2></div>
	{% for i in 1234567|make_list %}
	{% with cont=forloop.counter %}
	{% if forloop.counter == 2 %}
		<div class="semester_block_final">
	{% elif forloop.counter == 5 %}
		<div class="semester_block_final">
	{% else %}
		<div class="semester_block">
	{% endif %}
			<h4>{{ y.1 }}</h4>
			<ul class="subjects_list">
				{% for item in academic %}
					{% if item.semester == cont %}
						<li class="subjects"><a href="Calculus-1/">{{ item.subject_en }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
	</div>
	{% endwith %}
	{% endfor %}
<!--	<div class="semester_block_final">
		<h4>II</h4>
		<ul class="subjects_list">
			{% for item in academic %}
				{% if item.semester == 2 %}
					<li class="subjects"><a href="Calculus-1/">{{ item.subject_en }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="semester_block">
		<h4>III</h4>
		<ul class="subjects_list">
			{% for item in academic %}
				{% if item.semester == 3 %}
					<li class="subjects"><a href="Calculus-1/">{{ item.subject_en }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="semester_block">
		<h4>IV</h4>
		<ul class="subjects_list">
			{% for item in academic %}
				{% if item.semester == 4 %}
					<li class="subjects"><a href="Calculus-1/">{{ item.subject_en }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="semester_block_final">
		<h4>V</h4>
		<ul class="subjects_list">
			{% for item in academic %}
				{% if item.semester == 5 %}
					<li class="subjects"><a href="Calculus-1/">{{ item.subject_en }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="semester_block">
		<h4>VI</h4>
		<ul class="subjects_list">
			{% for item in academic %}
				{% if item.semester == 6 %}
					<li class="subjects"><a href="Calculus-1/">{{ item.subject_en }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="semester_block">
		<h4>VII</h4>
		<ul class="subjects_list">
			{% for item in academic %}
				{% if item.semester == 7 %}
					<li class="subjects"><a href="Calculus-1/">{{ item.subject_en }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div> -->
</div>
{% endblock %}