{% extends "index.html" %}
{% block content %}
<div class="courses">
	<div class="blank_block"><h2>Courses sorted by semesters</h2></div>
	<div class="semester_block">
		<h4>I</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="Calculus-1/">Calculus I</a></li>
			<li class="subjects"><a href="#">Mechanics</a></li>
			<li class="subjects"><a href="#">Probability Theory</a></li>
			<li class="subjects"><a href="#">Technical Drawing</a></li>
			<li class="subjects"><a href="#">Computer Programming</a></li>
			<li class="subjects"><a href="#">Bazele Statului și dreptului</a></li>
			<li class="subjects"><a href="#">Philosophy</a></li>
			<li class="subjects"><a href="#">English</a></li>
			<li class="subjects"><a href="#">Physical Education</a></li>
		</ul>
	</div>
	<div class="semester_block_final">
		<h4>II</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Calculus II</a></li>
			<li class="subjects"><a href="#">Physics</a></li>
			<li class="subjects"><a href="#">Data Structures and Algorithms</a></li>
			<li class="subjects"><a href="#">Mathematics for COmputer Science</a></li>
			<li class="subjects"><a href="#">Stochastics Processes</a></li>
			<li class="subjects"><a href="#">Electrotechnics</a></li>
			<li class="subjects"><a href="#">English</a></li>
			<li class="subjects"><a href="#">Physical Education</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>III</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Numerical Analysis</a></li>
			<li class="subjects"><a href="#">Analysis and Synthesis of Numerical Devices</a></li>
			<li class="subjects"><a href="#">Algorithm Analysis and Design</a></li>
			<li class="subjects"><a href="#">C++ Programming</a></li>
			<li class="subjects"><a href="#">Formal Languages and Compiler Construction</a></li>
			<li class="subjects"><a href="#">Electronics</a></li>
			<li class="subjects"><a href="#">Economics</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>IV</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Optimization Technics</a></li>
			<li class="subjects"><a href="#">Medii interactive de dezvoltare a produselor soft</a></li>
			<li class="subjects"><a href="#">Computer Architecture</a></li>
			<li class="subjects"><a href="#">Windows Programming</a></li>
			<li class="subjects"><a href="#">Computer Graphics</a></li>
			<li class="subjects"><a href="#">Microeconomics</a></li>
			<li class="subjects"><a href="#">Professional Ethics and Communication</a></li>
		</ul>
	</div>
	<div class="semester_block_final">
		<h4>V</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Operating Systems</a></li>
			<li class="subjects"><a href="#">Programarea aplicatiilor încorporate și independente de platformă</a></li>
			<li class="subjects"><a href="#">Databases</a></li>
			<li class="subjects"><a href="#">Human Resourses Management</a></li>
			<li class="subjects"><a href="#">Protectia muncii si mediului ambiant</a></li>
			<li class="subjects"><a href="#">Analiza si modelare sistemelor informaționale</a></li>
			<li class="subjects"><a href="">Testarea și verificarea produselor program</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>VI</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Marketing</a></li>
			<li class="subjects"><a href="#">Databases</a></li>
			<li class="subjects"><a href="#">Analiza, programarea și proiectarea Orientată pe Obiecte</a></li>
			<li class="subjects"><a href="#">Programarea în Rețea</a></li>
			<li class="subjects"><a href="#">Teoria Sistemlor</a></li>
			<li class="subjects"><a href="#">Sisteme multimedia</a></li>
			<li class="subjects"><a href="#">Prelucrarea Semnalelor</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>VII</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Information Security and Internet Protocols</a></li>
			<li class="subjects"><a href="#">Rețele de calculatoare</a></li>
			<li class="subjects"><a href="#">Proiectarea sistmelor informaționale</a></li>
			<li class="subjects"><a href="#">Programarea logică și inteligența artificială</a></li>
			<li class="subjects"><a href="#">Ingineria produselor program</a></li>
			<li class="subjects"><a href="#">Programarea aplicațiilor distribuite</a></li>
			<li class="subjects"><a href="#">Administrarea rețelelor</a></li>
		</ul>
	</div>
</div>
{% endblock %}