{% extends "index.html" %}
{% block content %}
<div class="courses">
	<div class="blank_block"><h2>Courses sorted by semesters</h2></div>
	<div class="semester_block">
		<h4>I</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="Calculus-1/">Calculus I</a></li>
			<li class="subjects"><a href="#">Mechanics</a></li>
			<li class="subjects"><a href="#">Probability and Information Theory</a></li>
			<li class="subjects"><a href="#">Technical Drawing</a></li>
			<li class="subjects"><a href="#">Computer Programming</a></li>
			<li class="subjects"><a href="#">State and Law Fundamentals</a></li>
			<li class="subjects"><a href="#">Philosophy</a></li>
			<li class="subjects"><a href="#">English</a></li>
			<li class="subjects"><a href="#">Physical Education</a></li>
		</ul>
	</div>
	<div class="semester_block_final">
		<h4>II</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Calculus II</a></li>
			<li class="subjects"><a href="#">Physics</a></li>
			<li class="subjects"><a href="#">Discrete Mathematics</a></li>
			<li class="subjects"><a href="#">Electrotechnics</a></li>
			<li class="subjects"><a href="#">Data Structures and Algorithms</a></li>
			<li class="subjects"><a href="#">Stochastic Processes</a></li>
			<li class="subjects"><a href="#">English</a></li>
			<li class="subjects"><a href="#">Physical Education</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>III</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Numerical Analysis</a></li>
			<li class="subjects"><a href="#">Analysis and Synthesis of Digital Devices</a></li>
			<li class="subjects"><a href="#">Electronics</a></li>
			<li class="subjects"><a href="#">Economical Theory and Marketing</a></li>
			<li class="subjects"><a href="#">Algorithm Analysis and Design</a></li>
			<li class="subjects"><a href="#">C++ Programming</a></li>
			<li class="subjects"><a href="#">Formal Languages and Compilers Design</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>IV</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Professional Ethics and Communication Skills</a></li>
			<li class="subjects"><a href="#">Computer Graphics</a></li>
			<li class="subjects"><a href="#">Branch Economy</a></li>
			<li class="subjects"><a href="#">Optimization Technics</a></li>
			<li class="subjects"><a href="#">Interactive Development Environments</a></li>
			<li class="subjects"><a href="#">Computer Architecture</a></li>
			<li class="subjects"><a href="#">Windows Programming</a></li>
		</ul>
	</div>
	<div class="semester_block_final">
		<h4>V</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Company Management</a></li>
			<li class="subjects"><a href="#">Workplace Safety and Environmental Protection</a></li>
			<li class="subjects"><a href="#">Programarea aplicatiilor încorporate și independente de platformă</a></li>
			<li class="subjects"><a href="#">Analysis and Modeling of Information Systems</a></li>
			<li class="subjects"><a href="#">Operating Systems Analysis and Design Principles</a></li>
			<li class="subjects"><a href="#">Databases</a></li>
			<li class="subjects"><a href="">Software Testing</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>VI</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Marketing</a></li>
			<li class="subjects"><a href="#">Databases</a></li>
			<li class="subjects"><a href="#">Object-Oriented Analysis, Programming and Design</a></li>
			<li class="subjects"><a href="#">Programarea în Rețea</a></li>
			<li class="subjects"><a href="#">Systems Theory</a></li>
			<li class="subjects"><a href="#">Multimedia Systems</a></li>
			<li class="subjects"><a href="#">Signal Processing</a></li>
		</ul>
	</div>
	<div class="semester_block">
		<h4>VII</h4>
		<ul class="subjects_list">
			<li class="subjects"><a href="#">Information Security</a></li>
			<li class="subjects"><a href="#">Computer Networks</a></li>
			<li class="subjects"><a href="#">Information System Design</a></li>
			<li class="subjects"><a href="#">Logic Programming and Artificial Intelligence</a></li>
			<li class="subjects"><a href="#">Software Engineering</a></li>
			<li class="subjects"><a href="#">Programarea aplicațiilor distribuite</a></li>
			<li class="subjects"><a href="#">Networks Administration</a></li>
		</ul>
	</div>
</div>
{% endblock %}