{% extends "index.html" %}

{% block title%}
<title>FAF</title>
{% endblock%}

{% block content %}
	<div class="info-block">
	<article>
		<div class="description">We are <a href='http://utm.md/' target="_blank" class='emphasis'>UTM</a> students and we are proud of it.</div>
		<div class="article_body">
			<div class="article_content achievements">
				<a href="/achievements/" class="achievements_logo"></a>
				<h3><a href="/achievements/">Achievements</a></h3>
				<p>Read the latest news about FAF achievements. Here you can find informations about competitions we win, accomplishments in IT, challenges we accept, success stories from our alumni and many more.</p>
				<a href="/achievements/" class="read_more">Read more &raquo;</a>
			</div>
		</div>
	</article>
	<article>
		<div class="description">We study <a href='http://fcim.utm.md/' target="_blank" class="emphasis">Computer Science</a> and we like it.</div>
		<div class="article_body">
			<div class="article_content activities">
				<a href="/activities/" class="activities_logo"></a>
				<h3><a href="/activities/">Activities</a></h3>
				<p>We always try to keep up with the latest technologies, hence we participate in different trainings, organize our own events, make up teams and work on projects. It is important for us to be proactive and share experience with others. Click here and find out much more information about we are have done, what we are doing and what we are going to do.</p>
				<a href="/activities/" class="read_more">Read more &raquo;</a>
			</div>
		</div>
	</article>
	<article><div class="description">We are <a href='#' class="emphasis">FAF</a> and we are a great team.</div>
		<div class="article_body">
			<div class="article_content students">
				<a href="/people/" class="people_logo"></a>
				<h3><a href="/people/">People</a></h3>
				<p>This compartments is all about people from FAF or involved in FAF life. We have listed all our professors, current students and alumni here. Come on in and maybe you find a friend of yours here?</p>
				<a href="/people/" class="read_more">Read more &raquo;</a>
			</div>
		</div>
	</article>
	</div>
{% endblock %}