{% extends "index.html" %}
{% block content %}
<!-- <div class="description"> -->
	<!-- <div class="description1">We are <a href='http://utm.md/' target="_blank" class='emphasis'>UTM</a> students and we are proud of it.</div> -->
	<!-- <div class="description2">We study <a href='http://fcim.utm.md/' target="_blank" class="emphasis">Computer Science</a> and we like it.</div> -->
	<!-- <div class="description3">We are <a href='#' class="emphasis">FAF</a> and we are a great team.</div> -->
	<!-- </div> -->
	<div class="info-block">
	<article>
		<div class="description">We are <a href='http://utm.md/' target="_blank" class='emphasis'>UTM</a> students and we are proud of it.</div>
		<div class="article_body">
			<div class="article_content achievements">
				<a href="/achievements/" class="achievements_logo"></a>
				<h3><a href="/achievements/">Achievements</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dolor at felis dictum interdum eget at mi. Donec eget urna sed ligula ultrices aliquam in nec velit. Aliquam dolor nulla, aliquet nec venenatis vitae, ultrices ut sapien.</p>
				<a href="/achievements/" class="read_more">Read more &raquo;</a>
			</div>
		</div>
	</article>
	<article>
		<div class="description">We study <a href='http://fcim.utm.md/' target="_blank" class="emphasis">Computer Science</a> and we like it.</div>
		<div class="article_body">
			<div class="article_content activities">
				<a href="/activities/" class="activities_logo"></a>
				<h3><a href="/activities/">Activities</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dolor at felis dictum interdum eget at mi. Donec eget urna sed ligula ultrices aliquam in nec velit. Aliquam dolor nulla, aliquet nec venenatis vitae, ultrices ut sapien.</p>
				<a href="/activities/" class="read_more">Read more &raquo;</a>
			</div>
		</div>
	</article>
	<article><div class="description">We are <a href='#' class="emphasis">FAF</a> and we are a great team.</div>
		<div class="article_body">
			<div class="article_content students">
				<a href="/people/" class="people_logo"></a>
				<h3><a href="/people/">People</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dolor at felis dictum interdum eget at mi. Donec eget urna sed ligula ultrices aliquam in nec velit. Aliquam dolor nulla, aliquet nec venenatis vitae, ultrices ut sapien.</p>
				<a href="/people/" class="read_more">Read more &raquo;</a>
			</div>
		</div>
	</article>
	</div>
{% endblock %}