{% extends "index.html" %}

{% block header %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
{% endblock %}
{% block content %}
<div id="side_menu">
	<ul class="side_nav">
		<li class='title'><a href="#">Professors</a></li>

		<li class='title'>Students</li>
		<ul class='subtitel'>
			<li><a href="#">FAF-111</a></li>
			<li><a href="#">FAF-101</a></li>
			<li><a href="#">FAF-091</a></li>
			<li><a href="#">FAF-081</a></li>
		</ul>

		<li class='title'>Alumni</li>
		<ul class='subtitel'>
			<li>Calculus</li>
			<li>Mechanics</li>
			<li>Probability Theory</li>
			<li>Computer Programming</li>
			<li>English</li>
		</ul>
	</ul>
</div>
<section id="course_description">
	<article>
		<div class="article_body">
			<h3><a href="#">Professors</a></h3>	
			<div class="article_content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</article>
</section>
{% endblock %}