{% extends "index.html" %}

{% block header %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
{% endblock %}
{% block content %}
<div id="side_menu">
	<ul class="side_nav people">
		<li class='title'><a href="/people/professors/">Professors</a></li>

		<li class='title'>Students</li>
		<ul class='subtitel'>
			{% for group in student_groups %}
				<li><a href="/people/students/{{ group }}/" {% if group == this_group %}class="active"{% endif %}>  {{ group }}</a></li>
			{% endfor %}
		</ul>

		<li class='title'>Alumni</li>
		<ul class='subtitel'>
			{% for group in alumni_groups %}
				<li><a href="/people/alumni/{{ group }}/" {% if group == this_group %}class="active"{% endif %}>{{ group }}</a></li>
			{% endfor %}
		</ul>
	</ul>
</div>
{% block about_people %}
{% endblock %}

{% endblock %}