{% extends "index.html" %}
{% block content %}
<div class="timeline_main">
	<div class="container_left">
		<section id="articles" class="content first">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow right">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
		<section id="articles" class="content">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow right">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
		<section id="articles" class="content">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow right">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
		<section id="articles" class="content">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow right">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
	</div>
	<div class="mid_line">
		&nbsp;
	</div>
	<div class="container_right">
		<section id="articles" class="content first">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow left">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
		<section id="articles" class="content">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow left">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
		<section id="articles" class="content">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow left">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
		<section id="articles" class="content">
			<article>
				<div class="article_header">
					<time>27.07.2012</time>
					<a href="#" class="article_comments">0 comments</a>
				</div>
				<div class="article_body">
					<h3>Lorem ipsum dolor</h3>
					<div  class="article_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<a href="#" class="read_more">Read more »</a>
					</div>
				</div>
				<div class="arrow left">&nbsp;
					<div class="circle">
						&nbsp;
					</div>
				</div>
			</article>
		</section>
	</div>
</div>
{% endblock %}