{% extends 'fafside/main.html' %}

{% block content %}
    <form action="/profile/" method="post" enctype="multipart/form-data">
        {% for field in form %}
            <div>
                {{ field.label }}
                <div>
                    {% autoescape off %}
                        {{ field }}
                    {% endautoescape %}
                </div>
                {{ field.errors }}
            </div>
        {% endfor %}
    </form>
    <button type="submit">Submit</button>
{% endblock %}