{% extends "index.html" %}

{% block title %}
  <title>FAF - {{ Course.subject_en }}</title>
{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="container container-course">
  <div class="row">

    <div class="col-md-9 ">
      <div class="boxed article">
        <h2 class="title">{{ Course.subject_en }}</h2>
        <h3 class="subtitle">{{ Course.subject_ro }}</h3>

        <strong>Professors</strong>
        <p>
        {% for professor in Course.professors.all %}
          <a href="#">{{ professor.name }} {{ professor.surname }}</a>
        {% empty %}
          Oops, seems that there are no professors assigned to this course.
        {% endfor %}
        </p>

        <strong>Language</strong>
        <p>
        {% if Course.language == 'RO' %}
          Romanian
        {% else %}
          English
        {% endif %}
        </p>

        {% if Course.labs == 'True' %}
          <strong>This course has laboratory works</strong>
        {% endif %}


        {% if Course.courseProject == 'True' %}
          <strong>This course requires a course project at the end of semester.</strong>
        {% endif %}

        {% if Course.description %}
          <strong>Description</strong>
          <p>{{ Course.description|safe }}</p>
        {% endif %}

        {% if Course.literature %}
          <strong>List of literature</strong>
          <p>{{ Course.literature|safe }}</p>
        {% endif %}
      </div>
    </div>
    <div class="col-md-3">
      <ul class="sidenav">
        {% for sem_courses in courses %}
          {% with semester=sem_courses.0.semester %}
            <li>
              <span class="title">{{ semester }}</span>
              <ul class="subsidenav">
                {% for course in sem_courses %}
                  <li class="subtitle{% if course.title == Course.title %} active{% endif %}">
                    <a href="{% url 'about_course' course.title %}">{{ course.subject_en }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
