{% extends "index.html" %}

{% block title%}
<title>FAF - Courses</title>
{% endblock%}

{% block content %}
<div class="courses">
	<div class="blank_block"><h2>Courses sorted by semesters</h2></div>
	
	{% for sem_courses in courses %}
	{% with semester=sem_courses.0.semester %}
		{% if semester == 'II' %}
			<div class="semester_block_final">
		{% elif semester == 'V' %}
			<div class="semester_block_final">
		{% else %}
			<div class="semester_block">
		{% endif %}
				<h4>{{ semester }}</h4>
				<ul class="subjects_list">
					{% for course in sem_courses %}
						<li class="subjects">
							<a href="{{ course.title }}/">{{ course.subject_en }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
	{% endwith %}
	{% endfor %}

</div>
{% endblock %}