<!DOCTYPE HTML>
<html>
<head>
  {% block title %}{% endblock %}
  <meta http-equiv="X-UA-Compatible" content="IE=7"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="FAF is an English taught Honors Program in Computer Science at the Technical University of Moldova."/>
  {% load staticfiles %}
  <link rel="icon" href="{% static "images/faficon.ico" %}" type="image/x-icon">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext,latin-ext"
    rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
  <script type="text/javascript" src="{% static "js/jquery-2.1.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/script.js" %}"></script>
  {% block header %}
  {% endblock %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38263963-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<div class="wrapper">
  <header id="header">
    <div class="container overflow-hidden">
      <div class="row row-logo">
        <div class="col-md-12">
          <a href="{% url "index" %}" class="logo"></a>
        </div>
      </div>
      <div class="ribbon">
        <a href="{% url "admission" %}">
          <img src="{% static "images/faf_ribbon_red.png" %}" alt="">
        </a>
      </div>
    </div>
    <div class="wrap-navbar">
      <div class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li {% if activepage == 'About' %}class="active"{% endif %}>
                  <a href="{% url "about" %}">About</a>
                </li>
                <li {% if activepage == 'Admission' %}class="active"{% endif %}>
                  <a href="{% url "admission" %}">Admission</a>
                </li>
                <li {% if activepage == 'Achievements' %}class="active"{% endif %}>
                  <a href="{% url "achievements" %}">Achievements</a>
                </li>
                <li {% if activepage == 'Activities' %}class="active"{% endif %}>
                  <a href="{% url "activities" %}">Activities</a>
                </li>
                <li {% if activepage == 'People' %}class="active"{% endif %}>
                  <a href="{% url "people" %}">People</a>
                </li>
                <li {% if activepage == 'Courses' %}class="active"{% endif %}>
                  <a href="{% url "courses" %}">Courses</a>
                </li>
                <li {% if activepage == 'Contact Us' %}class="active"{% endif %}>
                  <a href="{% url "contact-us" %}">Contact Us</a>
                </li>
                {% if user.is_authenticated %}
                <li class="dropdown{% if activepage == 'Labs' %} active{% endif %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Labs <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'faflabs_dashboard' %}">Dashboard</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li {% if activepage == 'Login' %}class="active"{% endif %}>
                  <a href="{% url "login" %}">Login</a>
                </li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.facebook.com/FAF.UTM" target="blank" class="fb">Follow us on</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </header>
  <div class="container container-message">
    <div class="row">
      <div class="col-md-12">
        {% block message %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <div class="clearfix"></div>
  <div id="footer-placeholder"></div>
</div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        &copy; 2003 - {% now "Y" %} <a href="{% url "index" %}">FAF</a> - English taught Honors Program in Computer Science
      </div>
      <div class="col-sm-5 text-right">
        <a href="http://utm.md/" target="_blank"><img src="{% static "images/utm-logo.png" %}" alt=""></a>
        <a href="http://utm.md/" target="_blank">Technical University of Moldova</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
