<!DOCTYPE HTML>
<html>
<head>
    {% block title %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <meta name="description"
          content="FAF is an English taught Honors Program in Computer Science at the Technical University of Moldova."/>
    {% load staticfiles %}
    <link rel="icon" href="{% static "images/faficon.ico" %}"
          type="image/x-icon">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext,latin-ext"
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
    <script type="text/javascript"
            src="{% static "js/jquery-1.7.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    {% block header %}
    {% endblock %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38263963-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <a href="{% url "admission" %}">
            <div class="ribbon">
                <img src="{% static "images/faf_ribbon_red.png" %}" alt="">
            </div>
        </a>

        <div id="header_body">
            <div class="logo">
                <a href="{% url "index" %}"></a>
            </div>
        </div>
        <div id="header_links">
            <div class="header_links_in">
                <a href="https://www.facebook.com/FAF.UTM" target="blank"
                   class="fb">Follow us on</a>
                <nav>
                    <a href="{% url "about" %}"
                       {% if activepage == 'About' %}class="active"{% endif %}>About</a>
                    <a href="{% url "admission" %}"
                       {% if activepage == 'Admission' %}class="active"{% endif %}>Admisssion</a>
                    <a href="{% url "achievements" %}"
                       {% if activepage == 'Achievements' %}class="active"{% endif %}>Achievements</a>
                    <a href="{% url "activities" %}"
                       {% if activepage == 'Activities' %}class="active"{% endif %}>Activities</a>
                    <a href="{% url "people" %}"
                       {% if activepage == 'People' %}class="active"{% endif %}>People</a>
                    <a href="{% url "courses" %}"
                       {% if activepage == 'Courses' %}class="active"{% endif %}>Courses</a>
                    <a href="{% url "contact-us" %}"
                       {% if activepage == 'Contact us' %}class="active"{% endif %}>Contact
                        us</a>
                </nav>
            </div>
        </div>
    </header>
    <div id="site_body">
        {% block content %}
        {% endblock %}
    </div>
    <div class="clr"></div>
</div>
<footer>
    <div class="footer_inside">
        <p class='left'>&copy; {% now "Y" %} <a href="{% url "index" %}">FAF</a> - English
            taught Honor's Program in Computer Science</p>

        <p class='right'><a href="http://utm.md/" target='_blank'>Technical
            University of Moldova</a></p>
        <a href="http://utm.md/" target='_blank'><img
                src="{% static "images/utm-logo.png" %}" alt=""></a>
    </div>
</footer>
</body>
</html>