{% extends "index.html" %}

{% block title %}
  <title>FAF</title>
{% endblock %}

{% block content %}
  <div class="container container-hero">
    <div class="row">
      <div class="col-md-4">
        <section>
          <div class="description">We are <a href="http://utm.md/" target="_blank">UTM</a> students and we are proud of it.</div>
          <a href="{% url "achievements" %}" class="hero-icon hero-icon-achievements"></a>
          <h3><a href="{% url "achievements" %}">Achievements</a></h3>
          <p>We've been places, we've won competitions and we continuously undertake challenges to expand our skills. We firmly believe that our professional field has to be conquered one small battle at a time and we have to treat each battle as a lesson.</p>
          <a href="{% url "achievements" %}" class="btn btn-sm btn-info">Learn about our victories <span class="glyphicon glyphicon-chevron-right"></span></a>
        </section>
      </div>
      <div class="col-md-4">
        <section>
          <div class="description">We study <a href="http://fcim.utm.md/" target="_blank">Computer Science</a> and we love it.</div>
          <a href="{% url "activities" %}" class="hero-icon hero-icon-activities"></a>
          <h3><a href="{% url "activities" %}">Activities</a></h3>
          <p>Whether it's a seminar on the emerging technologies or a game-development competition, we're there. In the
            emerging world of IT we get to work on great projects, attend or organize various events and get to know
            interesting people from our field.</p>
          <a href="{% url "activities" %}" class="btn btn-sm btn-info">Read about what we're up to <span class="glyphicon glyphicon-chevron-right"></span></a>
        </section>
      </div>
      <div class="col-md-4">
        <section>
          <div class="description">We are <a href="{% url "index" %}" class="emphasis">FAF</a> and we are a great team.</div>
          <a href="{% url "people" %}" class="hero-icon hero-icon-people"></a>
          <h3><a href="{% url "people" %}">People</a></h3>
          <p>It's not just about people, but rather a family having professors, students, alumni and industry professionals
            getting together. We take pride in knowing each and every one of us. If you encounter a skilled craftsman,
            chances are he is in our lists.</p>
          <a href="{% url "people" %}" class="btn btn-sm btn-info">Check it now <span class="glyphicon glyphicon-chevron-right"></span></a>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
