{% extends "index.html" %}

{% block content %}
<div class="container container-people">
  <div class="row">
    <div class="col-md-9 ">
      <div class="boxed article">
        {% block about_people %}
        {% endblock %}
      </div>
    </div>
    <div class="col-md-3">
      <ul class="sidenav">
        <li><a class="title" href="{% url "professors" %}">Professors</a></li>

        <li>
          <span class="title">Students</span>
          <ul class="subsidenav">
            {% for group in student_groups %}
              <li class="subtitle{% if group == this_group %} active{% endif %}">
                <a href="{% url "students" group %}">{{ group }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>

        <li>
          <span class="title">Alumni</span>
          <ul class="subsidenav">
            {% for group in alumni_groups %}
              <li class="subtitle{% if group == this_group %} active{% endif %}">
                <a href="{% url "alumni" group %}">{{ group }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
