{% extends "index.html" %}

{% block content %}
    <div id="side_menu">
        <ul class="side_nav people">
            <li class='title'><a href="{% url "professors" %}">Professors</a></li>

            <li class='title'>Students</li>
            <ul class='subtitel'>
                {% for group in student_groups %}
                    <li><a href="{% url "students" group %}"
                           {% if group == this_group %}class="active"{% endif %}>  {{ group }}</a>
                    </li>
                {% endfor %}
            </ul>

            <li class='title'>Alumni</li>
            <ul class='subtitel'>
                {% for group in alumni_groups %}
                    <li><a href="{% url "alumni" group %}"
                           {% if group == this_group %}class="active"{% endif %}>{{ group }}</a>
                    </li>
                {% endfor %}
            </ul>
        </ul>
    </div>
    {% block about_people %}
    {% endblock %}

{% endblock %}